Documento.XSD

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 

   <xs:element name="CatalogoPeliculas">

    <xs:complexType>

      <xs:sequence>

        <xs:element name="Pelicula"/>
        
          <xs:complexType>

            <xs:sequence>
                                               
             <xs:element name="Titulo" type="xs:string"/>       
  
             <xs:element name="Duracion" type="xs:string"/>

             <xs:element name="Genero" type="xs:string"/>

             <xs:element name="Actores" type="xs:string"/>

             <xs:element name="FechaDeEstreno" type="xs:string"/>

             <xs:element name="Fecha" type="xs:string"/>

             <xs:element name="Director" type="xs:string"/>

             <xs:element name="Productor" type="xs:string"/>

             <xs:element name="Productora" type="xs:string"/>

             <xs:element name="Formato" type="xs:string"/>

             <xs:element name="CalificacionPorEdades" type="xs:string"/>
                         
         
         </xs:sequence>
         
        </xs:complexType>
        
       </element>
                 
      </xs:sequence>

     </xs:complexType>                     

    </xs:element>
      
      
</xs:schema>
