Documento .DTD

<?xml version="1.0"?>
<!ELEMENT CatalogoPeliculas (Pelicula+) >
<!ELEMENT Pelicula (Ttitulo+, Duracion?, Genero?, Actores?, FechaDeEstreno?, Fecha?, Director*, Productor?, 
Productora?, Formato?, CalificacionPorEdades?) >

<!ELEMENT Titulo (#PCDATA) >
<!ELEMENT Duracion (#PCDATA) >
<!ELEMENT Genero (#PCDATA) >
<!ELEMENT Actores (Actor*) >
<!ELEMENT Actor (#PCDATA) >
<!ELEMENT Actriz (#PCDATA) >
<!ELEMENT Fecha (#PCDATA) >
<!ELEMENT FechaDeEstreno (#PCDATA) >
<!ELEMENT Director (#PCDATA) >
<!ELEMENT Productor (#PCDATA) >
<!ELEMENT Productora (#PCDATA) >
<!ELEMENT Formato (#PCDATA) >
<!ELEMENT CalificacionPorEdades (#PCDATA) >
